/* 
    Created on : 18 janv. 2018, 22:08:17
    Author     : Luc Rosenblatt <hello@lrosenblatt.com>
*/
html,body{height: 100%;}
a{text-decoration: none;}
*{font-size:1rem;box-sizing: border-box;margin: 0;padding: 0;}
input{display:block;max-width: 100%;}
input[type=submit]{height:100%;width:150px;}
form{display:flex;flex-wrap:wrap;max-width:400px;}
div.box{width: 200px;padding:20px;}
.centerHW{display:flex;justify-content:center;align-items:center;}